In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 471, done.
remote: Counting objects: 100% (108/108), done.
remote: Compressing objects: 100% (65/65), done.
remote: Total 471 (delta 63), reused 43 (delta 43), pack-reused 363
Receiving objects: 100% (471/471), 8.55 MiB | 17.03 MiB/s, done.
Resolving deltas: 100% (248/248), done.

In [ ]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

In [2]:
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')
pd.set_option('expand_frame_repr', False)

In [3]:
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_y_train.csv")

In [5]:
print(X_test.shape, X_train.shape, y_train.shape)

(101, 6) (240, 6) (240, 1)

In [4]:
print(X_test, '\n')
print(X_train, '\n')
print(y_train, '\n')

    species     island     sex  bill_length_mm  bill_depth_mm  flipper_length_mm
0    Adelie  Torgersen    MALE            42.1           19.1              195.0
1    Gentoo     Biscoe    MALE            45.5           15.0              220.0
2    Adelie     Biscoe    MALE            40.6           18.8              193.0
3    Adelie      Dream  FEMALE            39.5           17.8              188.0
4    Gentoo     Biscoe  FEMALE            45.1           14.5              207.0
..      ...        ...     ...             ...            ...                ...
96   Gentoo     Biscoe    MALE            45.2           15.8              215.0
97   Adelie  Torgersen  FEMALE            40.3           18.0              195.0
98   Gentoo     Biscoe  FEMALE            46.5           14.5              213.0
99   Gentoo     Biscoe    MALE            49.6           15.0              216.0
100  Adelie  Torgersen  FEMALE            39.6           17.2              196.0

[101 rows x 6 columns]

       species     island     sex  bill_length_mm  bill_depth_mm  flipper_length_mm
0       Adelie  Torgersen     NaN            42.0           20.2              190.0
1       Gentoo     Biscoe  FEMALE            43.5           15.2              213.0
2       Adelie  Torgersen    MALE            42.8           18.5              195.0
3    Chinstrap      Dream    MALE            53.5           19.9              205.0
4       Gentoo     Biscoe    MALE            50.2           14.3              218.0
..         ...        ...     ...             ...            ...                ...
235  Chinstrap      Dream  FEMALE            46.6           17.8              193.0
236     Gentoo     Biscoe    MALE            49.8           15.9              229.0
237     Adelie  Torgersen  FEMALE            34.6           17.2              189.0
238  Chinstrap      Dream  FEMALE            45.9           17.1              190.0
239     Gentoo     Biscoe  FEMALE            41.7           14.7              210.0

[240 rows x 6 columns]

     body_mass_g
0         4250.0
1         4650.0
2         4250.0
3         4500.0
4         5700.0
..           ...
235       3800.0
236       5950.0
237       3200.0
238       3575.0
239       4700.0

[240 rows x 1 columns]

In [6]:
# 데이터 전처리

print(X_train.head(1).T)
print('\n')
print(X_train.info())

                           0
species               Adelie
island             Torgersen
sex                      NaN
bill_length_mm          42.0
bill_depth_mm           20.2
flipper_length_mm      190.0


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None

In [7]:
print(X_train.isnull().sum())

species              0
island               0
sex                  8
bill_length_mm       2
bill_depth_mm        2
flipper_length_mm    2
dtype: int64

In [8]:
print(X_test.isnull().sum())

species              0
island               0
sex                  0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
dtype: int64

In [9]:
print(y_train.isnull().sum())

body_mass_g    2
dtype: int64

In [10]:
train = pd.concat([X_train, y_train], axis=1)

print(train)

       species     island     sex  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0       Adelie  Torgersen     NaN            42.0           20.2              190.0       4250.0
1       Gentoo     Biscoe  FEMALE            43.5           15.2              213.0       4650.0
2       Adelie  Torgersen    MALE            42.8           18.5              195.0       4250.0
3    Chinstrap      Dream    MALE            53.5           19.9              205.0       4500.0
4       Gentoo     Biscoe    MALE            50.2           14.3              218.0       5700.0
..         ...        ...     ...             ...            ...                ...          ...
235  Chinstrap      Dream  FEMALE            46.6           17.8              193.0       3800.0
236     Gentoo     Biscoe    MALE            49.8           15.9              229.0       5950.0
237     Adelie  Torgersen  FEMALE            34.6           17.2              189.0       3200.0
238  Chinstrap      Dream  FEMALE            45.9           17.1              190.0       3575.0
239     Gentoo     Biscoe  FEMALE            41.7           14.7              210.0       4700.0

[240 rows x 7 columns]

In [12]:
print(train[train['bill_length_mm'].isnull() | train['bill_depth_mm'].isnull()])

    species     island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
43   Gentoo     Biscoe  NaN             NaN            NaN                NaN          NaN
229  Adelie  Torgersen  NaN             NaN            NaN                NaN          NaN

In [13]:
print(train[train.isnull().any(axis=1)])

    species     island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0    Adelie  Torgersen  NaN            42.0           20.2              190.0       4250.0
6    Gentoo     Biscoe  NaN            44.5           14.3              216.0       4100.0
43   Gentoo     Biscoe  NaN             NaN            NaN                NaN          NaN
66   Adelie  Torgersen  NaN            37.8           17.3              180.0       3700.0
88   Gentoo     Biscoe  NaN            47.3           13.8              216.0       4725.0
89   Adelie  Torgersen  NaN            37.8           17.1              186.0       3300.0
110  Gentoo     Biscoe  NaN            44.5           15.7              217.0       4875.0
229  Adelie  Torgersen  NaN             NaN            NaN                NaN          NaN

In [14]:
print(train.isnull())

     species  island    sex  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0      False   False   True           False          False              False        False
1      False   False  False           False          False              False        False
2      False   False  False           False          False              False        False
3      False   False  False           False          False              False        False
4      False   False  False           False          False              False        False
..       ...     ...    ...             ...            ...                ...          ...
235    False   False  False           False          False              False        False
236    False   False  False           False          False              False        False
237    False   False  False           False          False              False        False
238    False   False  False           False          False              False        False
239    False   False  False           False          False              False        False

[240 rows x 7 columns]

In [16]:
print(train.isnull().any(axis=1))

0       True
1      False
2      False
3      False
4      False
       ...
235    False
236    False
237    False
238    False
239    False
Length: 240, dtype: bool

In [18]:
print(train.loc[train.isnull().any(axis=1)])

    species     island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0    Adelie  Torgersen  NaN            42.0           20.2              190.0       4250.0
6    Gentoo     Biscoe  NaN            44.5           14.3              216.0       4100.0
43   Gentoo     Biscoe  NaN             NaN            NaN                NaN          NaN
66   Adelie  Torgersen  NaN            37.8           17.3              180.0       3700.0
88   Gentoo     Biscoe  NaN            47.3           13.8              216.0       4725.0
89   Adelie  Torgersen  NaN            37.8           17.1              186.0       3300.0
110  Gentoo     Biscoe  NaN            44.5           15.7              217.0       4875.0
229  Adelie  Torgersen  NaN             NaN            NaN                NaN          NaN

In [19]:
print(train.shape)
train = train.dropna()
print(train.shape)

(240, 7)
(232, 7)

In [20]:
print(train.isnull().sum())

species              0
island               0
sex                  0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
dtype: int64

In [22]:
train = train.reset_index(drop=True)

In [23]:
train

       species     island     sex  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0       Gentoo     Biscoe  FEMALE            43.5           15.2              213.0       4650.0
1       Adelie  Torgersen    MALE            42.8           18.5              195.0       4250.0
2    Chinstrap      Dream    MALE            53.5           19.9              205.0       4500.0
3       Gentoo     Biscoe    MALE            50.2           14.3              218.0       5700.0
4       Adelie      Dream  FEMALE            36.5           18.0              182.0       3150.0
..         ...        ...     ...             ...            ...                ...          ...
227  Chinstrap      Dream  FEMALE            46.6           17.8              193.0       3800.0
228     Gentoo     Biscoe    MALE            49.8           15.9              229.0       5950.0
229     Adelie  Torgersen  FEMALE            34.6           17.2              189.0       3200.0
230  Chinstrap      Dream  FEMALE            45.9           17.1              190.0       3575.0
231     Gentoo     Biscoe  FEMALE            41.7           14.7              210.0       4700.0

[232 rows x 7 columns]

In [24]:
train.columns

Index(['species', 'island', 'sex', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g'],
      dtype='object')

In [25]:
X_train = train[['species', 'island', 'sex', 'bill_length_mm', 'bill_depth_mm','flipper_length_mm']].copy()
y_train = train[[ 'body_mass_g']].copy()

In [26]:
print(X_train.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [27]:
del_cols = []
num_cols = ['bill_length_mm', 'bill_depth_mm','flipper_length_mm']
cat_cols = ['species', 'island', 'sex']
y_col = ['body_mass_g']

In [29]:
# 데이터 인코딩 (원핫인코딩)

X = pd.concat([X_train, X_test])

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown='ignore')

ohe.fit(X[cat_cols])

X_train_res = ohe.transform(X_train[cat_cols])
X_test_res = ohe.transform(X_test[cat_cols])

In [32]:
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns=ohe.get_feature_names())
print(X_train_ohe)

     x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  x2_FEMALE  x2_MALE
0          0.0           0.0        1.0        1.0       0.0           0.0        1.0      0.0
1          1.0           0.0        0.0        0.0       0.0           1.0        0.0      1.0
2          0.0           1.0        0.0        0.0       1.0           0.0        0.0      1.0
3          0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
4          1.0           0.0        0.0        0.0       1.0           0.0        1.0      0.0
..         ...           ...        ...        ...       ...           ...        ...      ...
227        0.0           1.0        0.0        0.0       1.0           0.0        1.0      0.0
228        0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
229        1.0           0.0        0.0        0.0       0.0           1.0        1.0      0.0
230        0.0           1.0        0.0        0.0       1.0           0.0        1.0      0.0
231        0.0           0.0        1.0        1.0       0.0           0.0        1.0      0.0

[232 rows x 8 columns]

In [33]:
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns=ohe.get_feature_names())

In [34]:
print(X_test_ohe)

     x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  x2_FEMALE  x2_MALE
0          1.0           0.0        0.0        0.0       0.0           1.0        0.0      1.0
1          0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
2          1.0           0.0        0.0        1.0       0.0           0.0        0.0      1.0
3          1.0           0.0        0.0        0.0       1.0           0.0        1.0      0.0
4          0.0           0.0        1.0        1.0       0.0           0.0        1.0      0.0
..         ...           ...        ...        ...       ...           ...        ...      ...
96         0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
97         1.0           0.0        0.0        0.0       0.0           1.0        1.0      0.0
98         0.0           0.0        1.0        1.0       0.0           0.0        1.0      0.0
99         0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
100        1.0           0.0        0.0        0.0       0.0           1.0        1.0      0.0

[101 rows x 8 columns]

In [35]:
X_train_fin = pd.concat([X_train[num_cols], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[num_cols], X_test_ohe], axis=1)

In [36]:
X_train_fin

     bill_length_mm  bill_depth_mm  flipper_length_mm  x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  x2_FEMALE  x2_MALE
0              43.5           15.2              213.0        0.0           0.0        1.0        1.0       0.0           0.0        1.0      0.0
1              42.8           18.5              195.0        1.0           0.0        0.0        0.0       0.0           1.0        0.0      1.0
2              53.5           19.9              205.0        0.0           1.0        0.0        0.0       1.0           0.0        0.0      1.0
3              50.2           14.3              218.0        0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
4              36.5           18.0              182.0        1.0           0.0        0.0        0.0       1.0           0.0        1.0      0.0
..              ...            ...                ...        ...           ...        ...        ...       ...           ...        ...      ...
227            46.6           17.8              193.0        0.0           1.0        0.0        0.0       1.0           0.0        1.0      0.0
228            49.8           15.9              229.0        0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
229            34.6           17.2              189.0        1.0           0.0        0.0        0.0       0.0           1.0        1.0      0.0
230            45.9           17.1              190.0        0.0           1.0        0.0        0.0       1.0           0.0        1.0      0.0
231            41.7           14.7              210.0        0.0           0.0        1.0        1.0       0.0           0.0        1.0      0.0

[232 rows x 11 columns]

In [37]:
# 3. 데이터 모형 구축 

from sklearn.model_selection import train_test_split 

X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size=0.2, random_state=123)

In [38]:
# 데이터 스케일링 

from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
sc.fit(X_tr[num_cols])

X_tr[num_cols] = sc.transform(X_tr[num_cols])
X_val[num_cols] = sc.transform(X_val[num_cols])
X_test_fin[num_cols] = sc.transform(X_test_fin[num_cols])

In [39]:
X_tr

     bill_length_mm  bill_depth_mm  flipper_length_mm  x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  x2_FEMALE  x2_MALE
10         0.637066       0.337349           0.982456        0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
188        0.706564       0.253012           0.877193        0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
191        0.548263       0.313253           0.719298        0.0           0.0        1.0        1.0       0.0           0.0        0.0      1.0
26         0.660232       0.602410           0.368421        0.0           1.0        0.0        0.0       1.0           0.0        0.0      1.0
11         0.436293       0.144578           0.771930        0.0           0.0        1.0        1.0       0.0           0.0        1.0      0.0
..              ...            ...                ...        ...           ...        ...        ...       ...           ...        ...      ...
98         0.131274       0.518072           0.280702        1.0           0.0        0.0        0.0       0.0           1.0        1.0      0.0
220        0.250965       0.963855           0.298246        1.0           0.0        0.0        0.0       0.0           1.0        0.0      1.0
66         0.517375       0.084337           0.631579        0.0           0.0        1.0        1.0       0.0           0.0        1.0      0.0
126        0.428571       0.698795           0.403509        1.0           0.0        0.0        1.0       0.0           0.0        0.0      1.0
109        0.517375       0.060241           0.701754        0.0           0.0        1.0        1.0       0.0           0.0        1.0      0.0

[185 rows x 11 columns]

In [40]:
# 선형 회귀 
from sklearn.linear_model import LinearRegression 
lr = LinearRegression()
lr.fit(X_tr, y_tr)
y_tr_pred_lr = lr.predict(X_tr)
y_val_pred_lr = lr.predict(X_val)

In [42]:
print(lr.intercept_)

coef = pd.Series(data=lr.coef_[0], index=X_train_fin.columns)
print(coef.sort_values())

[3161.24758634]
x0_Chinstrap         -439.750287
x2_FEMALE            -178.439473
x0_Adelie            -173.383405
x1_Dream              -57.449317
x1_Torgersen            2.895853
x1_Biscoe              54.553465
x2_MALE               178.439473
bill_depth_mm         472.222178
x0_Gentoo             613.133692
bill_length_mm        625.478659
flipper_length_mm    1037.955017
dtype: float64

In [43]:
from sklearn.linear_model import Lasso

ls = Lasso(alpha=0.3)
ls.fit(X_tr, y_tr)

y_tr_pred_ls = ls.predict(X_tr)
y_val_pred_ls = ls.predict(X_val)

In [44]:
# 4. 데이터 모형 평가

from sklearn.metrics import mean_squared_error 

rmse_tr_lr = mean_squared_error(y_tr, y_tr_pred_lr, squared=False)
rmse_val_lr = mean_squared_error(y_val, y_val_pred_lr, squared=False)

rmse_tr_ls = mean_squared_error(y_tr, y_tr_pred_ls, squared=False)
rmse_val_ls = mean_squared_error(y_val, y_val_pred_ls, squared=False)

print(rmse_tr_lr, rmse_val_lr)
print(rmse_tr_ls, rmse_val_ls)

278.6486347826682 317.5265354107975
278.687788264753 316.8615989976468

In [49]:
pred = lr.predict(X_test_fin)[:, 0]

pd.DataFrame({'body_mass_g': pred}).to_csv('123456.csv', index=False)

array([4128.77754528, 5271.03847272, 4090.72277869, 3447.3333956 ,
       4639.32592191, 3996.04590733, 3388.88583488, 3781.3736552 ,
       3527.99174436, 3515.46094312, 3366.21574496, 5465.61771424,
       3649.52539012, 4032.79307637, 3778.63426445, 4066.13294383,
       4391.25995214, 3509.30958308, 3621.87949347, 3375.638093  ,
       5273.9681309 , 4193.23010162, 5907.43586889, 4642.69456613,
       5337.89896005, 5479.41153742, 5492.43303917, 4243.1722661 ,
       3402.22903576, 4009.03601045, 4169.07816613, 3404.91815054,
       3528.56922429, 4579.76611388, 3338.59669997, 3510.40693226,
       3291.14566572, 3425.68090306, 3860.63759992, 4961.63096217,
       3495.45860325, 5582.66714492, 4973.448201  , 4652.22242399,
       5781.6623004 , 3788.71306783, 4747.14739202, 3322.40830325,
       5345.11953251, 4242.02730236, 4619.84971945, 4716.63653716,
       4167.61935686, 3778.27248201, 3220.05456383, 4387.63945061,
       4820.34462492, 4569.69217472, 3792.75419695, 4055.45090249,
       3583.63880554, 4863.05535706, 3279.01334689, 4894.45003881,
       4033.81599202, 4068.77230153, 5455.42522508, 3172.62237984,
       4740.03450968, 3699.26720927, 4053.55152175, 3437.44593561,
       4716.54938579, 3260.55115758, 4857.67932472, 4585.61898056,
       5329.17218791, 3359.32205821, 3525.63770816, 4791.60846838,
       3526.15725506, 5726.31270495, 3364.24056454, 4814.67955519,
       4653.26969373, 3383.93515354, 5635.77225225, 4205.20433364,
       3824.09613225, 4757.44052676, 4119.90127853, 4065.32922377,
       4169.48575353, 4189.56782828, 5396.78064257, 4165.34960253,
       5218.26025111, 3665.84537703, 4782.39400201, 5297.21352045,
       3621.6348949 ])

In [45]:
y_pred = ls.predict(X_test_fin)
print(y_pred)

[4128.15490523 5277.08275691 4091.82746244 3442.24701882 4638.82422323
 3999.61191039 3395.69306543 3766.08204095 3525.55528226 3511.96445075
 3362.48816531 5463.09239049 3645.97784746 4033.96380361 3784.20747079
 4068.97069292 4383.11174499 3514.16192688 3619.16660628 3379.94744337
 5274.53460928 4191.49789601 5888.52450624 4647.75570015 5336.61466603
 5475.97032845 5487.99295845 4238.95823118 3404.07778557 4009.65333196
 4160.54479684 3403.26250075 3524.66880659 4584.04513915 3334.75108096
 3511.58561893 3296.66170482 3423.20593686 3863.47557918 4957.42340783
 3488.59831954 5575.88581298 4963.22293188 4659.17931303 5767.14398725
 3790.92957607 4747.78246407 3328.7920219  5347.64751889 4238.16547126
 4626.76951531 4714.42926881 4168.07955889 3784.17304112 3224.30643713
 4387.89242137 4821.79073748 4575.48921038 3803.49598815 4052.43060236
 3590.89923802 4858.3151975  3282.68040055 4888.22488133 4034.41148551
 4072.04166358 5452.72345453 3183.66825771 4738.6595961  3693.27821385
 4056.79738333 3438.73462632 4714.59747007 3262.00878166 4856.58139178
 4589.09431087 5331.96423226 3350.97646285 3524.26418791 4787.66234593
 3517.58147187 5715.96863793 3370.24483049 4812.37152283 4655.49637681
 3381.33291837 5630.63281914 4207.20346224 3830.76849188 4753.94955836
 4107.82794307 4066.13417652 4170.04321295 4187.97924344 5396.48206746
 4164.26541543 5221.85690114 3661.59858605 4779.79352385 5298.90738367
 3621.31107814]

In [51]:

pd.DataFrame({'body_mass_g': y_pred}) #.to_csv('123456.csv', index=False)

     body_mass_g
0    4128.154905
1    5277.082757
2    4091.827462
3    3442.247019
4    4638.824223
..           ...
96   5221.856901
97   3661.598586
98   4779.793524
99   5298.907384
100  3621.311078

[101 rows x 1 columns]

In [52]:
X_test.shape

(101, 6)