In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 471, done.
remote: Counting objects: 100% (108/108), done.
remote: Compressing objects: 100% (65/65), done.
remote: Total 471 (delta 63), reused 43 (delta 43), pack-reused 363
Receiving objects: 100% (471/471), 8.55 MiB | 17.82 MiB/s, done.
Resolving deltas: 100% (248/248), done.

In [44]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/census_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/census_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/census_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

In [45]:
import pandas as pd
import numpy as np

import warnings 

warnings.filterwarnings('ignore')
pd.set_option('expand_frame_repr', False)
pd.set_option('display.float_format', '{:.2f}'.format)

In [46]:
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/census_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/census_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/census_y_train.csv")

In [47]:
print(X_test.shape, X_train.shape, y_train.shape, '\n')
print(X_test, '\n')
print(X_train, '\n')
print(y_train, '\n')

(15060, 14) (30162, 14) (30162, 1)

       age     workclass  fnlwgt      education  education_num      marital_status         occupation   relationship                race     sex  capital_gain  capital_loss  hours_per_week native_country
0       25       Private  226802           11th              7       Never-married  Machine-op-inspct      Own-child               Black    Male             0             0              40  United-States
1       38       Private   89814        HS-grad              9  Married-civ-spouse    Farming-fishing        Husband               White    Male             0             0              50  United-States
2       28     Local-gov  336951     Assoc-acdm             12  Married-civ-spouse    Protective-serv        Husband               White    Male             0             0              40  United-States
3       44       Private  160323   Some-college             10  Married-civ-spouse  Machine-op-inspct        Husband               Black    Male          7688             0              40  United-States
4       34       Private  198693           10th              6       Never-married      Other-service  Not-in-family               White    Male             0             0              30  United-States
...    ...           ...     ...            ...            ...                 ...                ...            ...                 ...     ...           ...           ...             ...            ...
15055   33       Private  245211      Bachelors             13       Never-married     Prof-specialty      Own-child               White    Male             0             0              40  United-States
15056   39       Private  215419      Bachelors             13            Divorced     Prof-specialty  Not-in-family               White  Female             0             0              36  United-States
15057   38       Private  374983      Bachelors             13  Married-civ-spouse     Prof-specialty        Husband               White    Male             0             0              50  United-States
15058   44       Private   83891      Bachelors             13            Divorced       Adm-clerical      Own-child  Asian-Pac-Islander    Male          5455             0              40  United-States
15059   35  Self-emp-inc  182148      Bachelors             13  Married-civ-spouse    Exec-managerial        Husband               White    Male             0             0              60  United-States

[15060 rows x 14 columns]

       age         workclass  fnlwgt    education  education_num      marital_status         occupation   relationship   race     sex  capital_gain  capital_loss  hours_per_week native_country
0       39         State-gov   77516    Bachelors             13       Never-married       Adm-clerical  Not-in-family  White    Male          2174             0              40  United-States
1       50  Self-emp-not-inc   83311    Bachelors             13  Married-civ-spouse    Exec-managerial        Husband  White    Male             0             0              13  United-States
2       38           Private  215646      HS-grad              9            Divorced  Handlers-cleaners  Not-in-family  White    Male             0             0              40  United-States
3       53           Private  234721         11th              7  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male             0             0              40  United-States
4       28           Private  338409    Bachelors             13  Married-civ-spouse     Prof-specialty           Wife  Black  Female             0             0              40           Cuba
...    ...               ...     ...          ...            ...                 ...                ...            ...    ...     ...           ...           ...             ...            ...
30157   27           Private  257302   Assoc-acdm             12  Married-civ-spouse       Tech-support           Wife  White  Female             0             0              38  United-States
30158   40           Private  154374      HS-grad              9  Married-civ-spouse  Machine-op-inspct        Husband  White    Male             0             0              40  United-States
30159   58           Private  151910      HS-grad              9             Widowed       Adm-clerical      Unmarried  White  Female             0             0              40  United-States
30160   22           Private  201490      HS-grad              9       Never-married       Adm-clerical      Own-child  White    Male             0             0              20  United-States
30161   52      Self-emp-inc  287927      HS-grad              9  Married-civ-spouse    Exec-managerial           Wife  White  Female         15024             0              40  United-States

[30162 rows x 14 columns]

       target
0           0
1           0
2           0
3           0
4           0
...       ...
30157       0
30158       1
30159       0
30160       0
30161       1

[30162 rows x 1 columns]

In [48]:
# 2. 데이터 전처리 

print(X_train.head(1).T)
print('\n')
print(X_train.info())
print('\n')
print(X_test.info())

                            0
age                        39
workclass           State-gov
fnlwgt                  77516
education           Bachelors
education_num              13
marital_status  Never-married
occupation       Adm-clerical
relationship    Not-in-family
race                    White
sex                      Male
capital_gain             2174
capital_loss                0
hours_per_week             40
native_country  United-States


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  object
 2   fnlwgt          30162 non-null  int64
 3   education       30162 non-null  object
 4   education_num   30162 non-null  int64
 5   marital_status  30162 non-null  object
 6   occupation      30162 non-null  object
 7   relationship    30162 non-null  object
 8   race            30162 non-null  object
 9   sex             30162 non-null  object
 10  capital_gain    30162 non-null  int64
 11  capital_loss    30162 non-null  int64
 12  hours_per_week  30162 non-null  int64
 13  native_country  30162 non-null  object
dtypes: int64(6), object(8)
memory usage: 3.2+ MB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             15060 non-null  int64
 1   workclass       15060 non-null  object
 2   fnlwgt          15060 non-null  int64
 3   education       15060 non-null  object
 4   education_num   15060 non-null  int64
 5   marital_status  15060 non-null  object
 6   occupation      15060 non-null  object
 7   relationship    15060 non-null  object
 8   race            15060 non-null  object
 9   sex             15060 non-null  object
 10  capital_gain    15060 non-null  int64
 11  capital_loss    15060 non-null  int64
 12  hours_per_week  15060 non-null  int64
 13  native_country  15060 non-null  object
dtypes: int64(6), object(8)
memory usage: 1.6+ MB
None

In [49]:
print(X_train.isnull().sum(), '\n')
print(X_test.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
dtype: int64

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
dtype: int64

In [9]:
print(y_train.isnull().sum())

target    0
dtype: int64

In [10]:
print(X_train.describe())

           age     fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
count 30162.00   30162.00       30162.00      30162.00      30162.00        30162.00
mean     38.44  189793.83          10.12       1092.01         88.37           40.93
std      13.13  105652.97           2.55       7406.35        404.30           11.98
min      17.00   13769.00           1.00          0.00          0.00            1.00
25%      28.00  117627.25           9.00          0.00          0.00           40.00
50%      37.00  178425.00          10.00          0.00          0.00           40.00
75%      47.00  237628.50          13.00          0.00          0.00           45.00
max      90.00 1484705.00          16.00      99999.00       4356.00           99.00

In [11]:
[q/20 for q in range(15, 21)]

[0.75, 0.8, 0.85, 0.9, 0.95, 1.0]

In [12]:
print(X_train['capital_gain'].quantile([q/20 for q in range(15, 21)]))

0.75       0.00
0.80       0.00
0.85       0.00
0.90       0.00
0.95    5013.00
1.00   99999.00
Name: capital_gain, dtype: float64

In [13]:
print(X_train['capital_loss'].quantile([q/20 for q in range(15, 21)]))

0.75      0.00
0.80      0.00
0.85      0.00
0.90      0.00
0.95      0.00
1.00   4356.00
Name: capital_loss, dtype: float64

In [50]:
X_train['capital_gain_yn'] = np.where(X_train['capital_gain']>0, 1, 0) 
X_train['capital_loss_yn'] = np.where(X_train['capital_loss']>0, 1, 0) 

X_test['capital_gain_yn'] = np.where(X_test['capital_gain']>0, 1, 0) 
X_test['capital_loss_yn'] = np.where(X_test['capital_loss']>0, 1, 0)

In [51]:
print(X_train.groupby('capital_gain_yn')['capital_gain'].agg(['min', 'max']))

                 min    max
capital_gain_yn
0                  0      0
1                114  99999

In [52]:
print(X_train.groupby('capital_loss_yn')['capital_loss'].agg(['min', 'max']))

                 min   max
capital_loss_yn
0                  0     0
1                155  4356

In [ ]:
# quantile (백분위수)
# numpy - where (if-else)
# groupby ~ agg (집계)

In [19]:
X_train.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'capital_gain_yn', 'capital_loss_yn'],
      dtype='object')

In [53]:
del_cols = []
num_cols = ['age', 'education_num', 'hours_per_week', 'capital_gain', 'capital_loss']
cat_cols = ['workclass', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'education', 'capital_gain_yn', 'capital_loss_yn']
y_col = ['target']

In [54]:
train = pd.concat([X_train, y_train], axis=1)

In [25]:
print(train.groupby(y_col)[num_cols].mean().T)

target              0       1
age             36.61   43.96
education_num    9.63   11.61
hours_per_week  39.35   45.71
capital_gain   148.89 3937.68
capital_loss    53.45  193.75

In [26]:
for _col in num_cols:
  print('-'*80)
  print(_col)
  print(train.groupby(y_col)[_col].describe())
  print('\n')

--------------------------------------------------------------------------------
age
          count  mean   std   min   25%   50%   75%   max
target
0      22654.00 36.61 13.46 17.00 26.00 34.00 45.00 90.00
1       7508.00 43.96 10.27 19.00 36.00 43.00 51.00 90.00


--------------------------------------------------------------------------------
education_num
          count  mean  std  min   25%   50%   75%   max
target
0      22654.00  9.63 2.41 1.00  9.00  9.00 10.00 16.00
1       7508.00 11.61 2.37 2.00 10.00 12.00 13.00 16.00


--------------------------------------------------------------------------------
hours_per_week
          count  mean   std  min   25%   50%   75%   max
target
0      22654.00 39.35 11.95 1.00 38.00 40.00 40.00 99.00
1       7508.00 45.71 10.74 1.00 40.00 40.00 50.00 99.00


--------------------------------------------------------------------------------
capital_gain
          count    mean      std  min  25%  50%  75%      max
target
0      22654.00  148.89   936.39 0.00 0.00 0.00 0.00 41310.00
1       7508.00 3937.68 14386.06 0.00 0.00 0.00 0.00 99999.00


--------------------------------------------------------------------------------
capital_loss
          count   mean    std  min  25%  50%  75%     max
target
0      22654.00  53.45 310.27 0.00 0.00 0.00 0.00 4356.00
1       7508.00 193.75 592.83 0.00 0.00 0.00 0.00 3683.00

In [27]:
for _col in cat_cols:
  print(train.groupby(_col, as_index=False)[y_col].mean().sort_values(by=y_col, ascending=False))
  print('\n')

          workclass  target
3      Self-emp-inc    0.56
0       Federal-gov    0.39
1         Local-gov    0.29
4  Self-emp-not-inc    0.29
5         State-gov    0.27
2           Private    0.22
6       Without-pay    0.00


          marital_status  target
1      Married-AF-spouse    0.48
2     Married-civ-spouse    0.45
0               Divorced    0.11
6                Widowed    0.10
3  Married-spouse-absent    0.08
5              Separated    0.07
4          Never-married    0.05


           occupation  target
3     Exec-managerial    0.49
9      Prof-specialty    0.45
10    Protective-serv    0.33
12       Tech-support    0.30
11              Sales    0.27
2        Craft-repair    0.23
13   Transport-moving    0.20
0        Adm-clerical    0.13
6   Machine-op-inspct    0.12
4     Farming-fishing    0.12
1        Armed-Forces    0.11
5   Handlers-cleaners    0.06
7       Other-service    0.04
8     Priv-house-serv    0.01


     relationship  target
5            Wife    0.49
0         Husband    0.46
1   Not-in-family    0.11
4       Unmarried    0.07
2  Other-relative    0.04
3       Own-child    0.01


                 race  target
1  Asian-Pac-Islander    0.28
4               White    0.26
2               Black    0.13
0  Amer-Indian-Eskimo    0.12
3               Other    0.09


      sex  target
1    Male    0.31
0  Female    0.11


                native_country  target
35                      Taiwan    0.45
9                       France    0.44
19                        Iran    0.43
18                       India    0.40
23                       Japan    0.39
0                     Cambodia    0.39
40                  Yugoslavia    0.38
21                       Italy    0.35
8                      England    0.35
10                     Germany    0.34
1                       Canada    0.34
29                 Philippines    0.32
16                        Hong    0.32
2                        China    0.29
11                      Greece    0.28
4                         Cuba    0.27
38               United-States    0.25
17                     Hungary    0.23
20                     Ireland    0.21
34                       South    0.20
30                      Poland    0.20
33                    Scotland    0.18
36                    Thailand    0.18
6                      Ecuador    0.15
22                     Jamaica    0.12
31                    Portugal    0.12
24                        Laos    0.12
37             Trinadad&Tobago    0.11
32                 Puerto-Rico    0.11
13                       Haiti    0.10
7                  El-Salvador    0.09
15                    Honduras    0.08
39                     Vietnam    0.08
28                        Peru    0.07
26                   Nicaragua    0.06
25                      Mexico    0.05
12                   Guatemala    0.05
3                     Columbia    0.04
5           Dominican-Republic    0.03
27  Outlying-US(Guam-USVI-etc)    0.00
14          Holand-Netherlands    0.00


        education  target
14    Prof-school    0.75
10      Doctorate    0.75
12        Masters    0.56
9       Bachelors    0.42
8       Assoc-voc    0.26
7      Assoc-acdm    0.25
15   Some-college    0.20
11        HS-grad    0.16
2            12th    0.08
0            10th    0.07
5         7th-8th    0.06
1            11th    0.06
6             9th    0.05
4         5th-6th    0.04
3         1st-4th    0.04
13      Preschool    0.00


   capital_gain_yn  target
1                1    0.63
0                0    0.21


   capital_loss_yn  target
1                1    0.52
0                0    0.24

In [ ]:
# cardinality 카디널리티

In [37]:
# X_train['race']

0        White
1        White
2        White
3        Black
4        Black
         ...
30157    White
30158    White
30159    White
30160    White
30161    White
Name: race, Length: 30162, dtype: object

In [38]:
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# le.fit(X_train['race'])

LabelEncoder()

In [39]:
# le.classes_

array(['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other',
       'White'], dtype=object)

In [42]:
# trans = le.transform(X_train['race'])
# le.inverse_transform(trans)

array(['White', 'White', 'White', ..., 'White', 'White', 'White'],
      dtype=object)

In [56]:
# 레이블 인코딩
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train, X_test])
le = LabelEncoder()

for _col in cat_cols:
  le.fit(X[_col])
  X_train[_col] = le.transform(X_train[_col])
  X_test[_col] = le.transform(X_test[_col])
  # print(le.classes_) # 각 컬럼의 인코더 클래스 확인

In [57]:
X_train[cat_cols]

       workclass  marital_status  occupation  relationship  race  sex  native_country  education  capital_gain_yn  capital_loss_yn
0              5               4           0             1     4    1              38          9                1                0
1              4               2           3             0     4    1              38          9                0                0
2              2               0           5             1     4    1              38         11                0                0
3              2               2           5             0     2    1              38          1                0                0
4              2               2           9             5     2    0               4          9                0                0
...          ...             ...         ...           ...   ...  ...             ...        ...              ...              ...
30157          2               2          12             5     4    0              38          7                0                0
30158          2               2           6             0     4    1              38         11                0                0
30159          2               6           0             4     4    0              38         11                0                0
30160          2               4           0             3     4    1              38         11                0                0
30161          3               2           3             5     4    0              38         11                1                0

[30162 rows x 10 columns]

In [58]:
# 3. 데이터 모형 구축 

from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.3, stratify=y_train, random_state=123)

In [59]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(X_tr[num_cols])

X_tr[num_cols] = sc.transform(X_tr[num_cols])
X_val[num_cols] = sc.transform(X_val[num_cols])
X_test[num_cols] = sc.transform(X_test[num_cols])

In [60]:
X_tr[num_cols]

        age  education_num  hours_per_week  capital_gain  capital_loss
12878 -0.11          -0.44            0.75         -0.14         -0.22
22094 -0.03           0.74           -0.08         -0.14         -0.22
17703 -0.26           0.34           -0.08         -0.14         -0.22
14887 -0.72          -0.44           -2.09         -0.14         -0.22
12912 -1.02          -0.05            1.26         -0.14         -0.22
...     ...            ...             ...           ...           ...
29143  1.26           1.52           -0.08         -0.14         -0.22
5490  -0.03           1.13            0.75         -0.14         -0.22
20806  0.12          -0.44            0.34          0.82         -0.22
21724 -0.79          -0.44            0.34         -0.14         -0.22
13838  1.49          -2.00            1.59         -0.14         -0.22

[21113 rows x 5 columns]

In [61]:
from sklearn.ensemble import RandomForestClassifier 

rf = RandomForestClassifier()
rf.fit(X_tr, y_tr)

from xgboost import XGBClassifier

xgb1 = XGBClassifier()
xgb1.fit(X_tr, y_tr)

XGBClassifier()

In [62]:
import time 
start = time.time()
xgb2 = XGBClassifier(n_estimators=1000, learning_rate=0.1, max_depth=10)

xgb2.fit(X_tr, y_tr, eval_set=[(X_val, y_val)], eval_metric='auc', early_stopping_rounds=30)

print('수행 시간: ', (time.time()-start), ' 초')

[0]	validation_0-auc:0.903522
Will train until validation_0-auc hasn't improved in 30 rounds.
[1]	validation_0-auc:0.90574
[2]	validation_0-auc:0.906739
[3]	validation_0-auc:0.907942
[4]	validation_0-auc:0.907892
[5]	validation_0-auc:0.908778
[6]	validation_0-auc:0.909434
[7]	validation_0-auc:0.910013
[8]	validation_0-auc:0.910496
[9]	validation_0-auc:0.91095
[10]	validation_0-auc:0.911627
[11]	validation_0-auc:0.912384
[12]	validation_0-auc:0.91307
[13]	validation_0-auc:0.913706
[14]	validation_0-auc:0.91506
[15]	validation_0-auc:0.915885
[16]	validation_0-auc:0.916068
[17]	validation_0-auc:0.91656
[18]	validation_0-auc:0.917004
[19]	validation_0-auc:0.917307
[20]	validation_0-auc:0.917638
[21]	validation_0-auc:0.918164
[22]	validation_0-auc:0.918643
[23]	validation_0-auc:0.919116
[24]	validation_0-auc:0.919783
[25]	validation_0-auc:0.919823
[26]	validation_0-auc:0.919914
[27]	validation_0-auc:0.9204
[28]	validation_0-auc:0.920482
[29]	validation_0-auc:0.920981
[30]	validation_0-auc:0.92102
[31]	validation_0-auc:0.921116
[32]	validation_0-auc:0.921355
[33]	validation_0-auc:0.921771
[34]	validation_0-auc:0.921819
[35]	validation_0-auc:0.921895
[36]	validation_0-auc:0.922214
[37]	validation_0-auc:0.922346
[38]	validation_0-auc:0.9225
[39]	validation_0-auc:0.922746
[40]	validation_0-auc:0.922826
[41]	validation_0-auc:0.922854
[42]	validation_0-auc:0.923201
[43]	validation_0-auc:0.923277
[44]	validation_0-auc:0.923573
[45]	validation_0-auc:0.923881
[46]	validation_0-auc:0.924087
[47]	validation_0-auc:0.924343
[48]	validation_0-auc:0.924529
[49]	validation_0-auc:0.924676
[50]	validation_0-auc:0.924842
[51]	validation_0-auc:0.925005
[52]	validation_0-auc:0.925004
[53]	validation_0-auc:0.925063
[54]	validation_0-auc:0.925399
[55]	validation_0-auc:0.925467
[56]	validation_0-auc:0.925363
[57]	validation_0-auc:0.925419
[58]	validation_0-auc:0.92565
[59]	validation_0-auc:0.925657
[60]	validation_0-auc:0.92573
[61]	validation_0-auc:0.925755
[62]	validation_0-auc:0.925923
[63]	validation_0-auc:0.926
[64]	validation_0-auc:0.925995
[65]	validation_0-auc:0.926159
[66]	validation_0-auc:0.926223
[67]	validation_0-auc:0.926178
[68]	validation_0-auc:0.926043
[69]	validation_0-auc:0.926167
[70]	validation_0-auc:0.92603
[71]	validation_0-auc:0.925989
[72]	validation_0-auc:0.926007
[73]	validation_0-auc:0.926119
[74]	validation_0-auc:0.926137
[75]	validation_0-auc:0.926234
[76]	validation_0-auc:0.926334
[77]	validation_0-auc:0.926317
[78]	validation_0-auc:0.926383
[79]	validation_0-auc:0.926365
[80]	validation_0-auc:0.926382
[81]	validation_0-auc:0.926468
[82]	validation_0-auc:0.926528
[83]	validation_0-auc:0.926538
[84]	validation_0-auc:0.926558
[85]	validation_0-auc:0.926638
[86]	validation_0-auc:0.926651
[87]	validation_0-auc:0.926622
[88]	validation_0-auc:0.926697
[89]	validation_0-auc:0.926674
[90]	validation_0-auc:0.926483
[91]	validation_0-auc:0.926411
[92]	validation_0-auc:0.926445
[93]	validation_0-auc:0.92644
[94]	validation_0-auc:0.926477
[95]	validation_0-auc:0.926447
[96]	validation_0-auc:0.926474
[97]	validation_0-auc:0.926482
[98]	validation_0-auc:0.92639
[99]	validation_0-auc:0.926417
[100]	validation_0-auc:0.926433
[101]	validation_0-auc:0.926408
[102]	validation_0-auc:0.926458
[103]	validation_0-auc:0.92649
[104]	validation_0-auc:0.926403
[105]	validation_0-auc:0.926544
[106]	validation_0-auc:0.926582
[107]	validation_0-auc:0.926514
[108]	validation_0-auc:0.926533
[109]	validation_0-auc:0.926541
[110]	validation_0-auc:0.92652
[111]	validation_0-auc:0.926509
[112]	validation_0-auc:0.926552
[113]	validation_0-auc:0.926444
[114]	validation_0-auc:0.926458
[115]	validation_0-auc:0.926519
[116]	validation_0-auc:0.926466
[117]	validation_0-auc:0.926523
[118]	validation_0-auc:0.926584
Stopping. Best iteration:
[88]	validation_0-auc:0.926697

수행 시간:  8.817858695983887  초

In [63]:
# 4. 데이터 모형 평가 

from sklearn.metrics import roc_auc_score

y_pred_rf = rf.predict_proba(X_val)[:, 1]
y_pred_xgb1 = xgb1.predict_proba(X_val)[:, 1]

In [64]:
score_rf = roc_auc_score(y_val, y_pred_rf)
score_xgb1 = roc_auc_score(y_val, y_pred_xgb1)
print(score_rf, score_xgb1)

0.9074608390860976 0.9214516722062366

In [67]:
pd.DataFrame({'feature': X_tr.columns, 'rf_impr': rf.feature_importances_, 'xgb_impr': xgb1.feature_importances_})

            feature  rf_impr  xgb_impr
0               age     0.14      0.07
1         workclass     0.04      0.02
2            fnlwgt     0.17      0.01
3         education     0.03      0.01
4     education_num     0.10      0.13
5    marital_status     0.07      0.12
6        occupation     0.07      0.04
7      relationship     0.12      0.35
8              race     0.01      0.01
9               sex     0.01      0.04
10     capital_gain     0.09      0.11
11     capital_loss     0.03      0.04
12   hours_per_week     0.08      0.05
13   native_country     0.02      0.01
14  capital_gain_yn     0.02      0.00
15  capital_loss_yn     0.01      0.00

In [68]:
del_cols = ['capital_gain_yn', 'capital_loss_yn', 'native_country']

X_tr = X_tr.drop(del_cols, axis=1)
X_val = X_val.drop(del_cols, axis=1)
X_train = X_train.drop(del_cols, axis=1)
X_test = X_test.drop(del_cols, axis=1)

In [69]:
from sklearn.ensemble import RandomForestClassifier 

rf = RandomForestClassifier()
rf.fit(X_tr, y_tr)

from xgboost import XGBClassifier

xgb1 = XGBClassifier()
xgb1.fit(X_tr, y_tr)

XGBClassifier()

In [70]:
y_pred_rf = rf.predict_proba(X_val)[:, 1]
y_pred_xgb1 = xgb1.predict_proba(X_val)[:, 1]
score_rf = roc_auc_score(y_val, y_pred_rf)
score_xgb1 = roc_auc_score(y_val, y_pred_xgb1)
print(score_rf, score_xgb1)

0.907480928139073 0.9218393745960957

랜덤포레스트 주요 하이퍼파라미터는 다음과 같습니다.
- n_estimators 결정 트리 개수 (100)
- max_depth: 트리 깊이의 최댓값 (None)
- min_samples_split: 노드 분리에 필요한 최소 샘플 수 (2)
- min_samples_leaf: 리프 노드에 필요한 최소 샘플 수 (1)
- 특히 min_samples_split, min_samples_leaf 는 과적합 방지를 위해 사용되는 파라미터입니다.

In [ ]:
start = time.time()
from sklearn.model_selection import GridSearchCV 

grid_params = {
    'n_estimators': [50, 100],
    'max_depth': [5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

rf_cv = GridSearchCV(estimator=rf, param_grid=grid_params, cv=5, scoring='roc_auc')
rf_cv.fit(X_train, y_train)
print('elapsed: ', time.time()-start)

In [ ]:
print(rf_cv.best_params_)
# {'max_depth': 15, 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 100}

# n_estimators: 부스팅 iteration 수 100~1000개 사이 (100)
# max_depth: 트리 깊이의 최댓값, 일반적으로 3~10 사이 (3)
# learning_rate: 학습률, 일반적으로 0.01~0.2 (0.1)
# min_child_weight: 자식 노드에 필요한 가중치 합의 최솟값, min_child_leaf와 유사 (1)
# subsample: 각 트리에 사용할 데이터 샘플 비율, 일반적으로 0.5~1 사이의 값을 가짐 (1)
# colsample_bytree: 각 트리에 사용할 변수 비율, 일반적으로 0.5~1 사이의 값을 가짐 (1)
# lambda: L2 규제 값 (1)
# alpha: L1 규제 값 (0)

# max_depth 값이 너무 작으면 과소적합, 너무 크면 과대적합의 위험이 있다.
# min_child_weight 값을 통해 과대적합을 방지할 수 있다.

In [74]:
rf2 = RandomForestClassifier(n_estimators=100, max_depth=15, min_samples_leaf=2, min_samples_split=5)
rf2.fit(X_tr, y_tr)

RandomForestClassifier(max_depth=15, min_samples_leaf=2, min_samples_split=5)

In [75]:
y_pred_rf2 = rf2.predict_proba(X_val)[:, 1]
score_rf2 = roc_auc_score(y_val, y_pred_rf2)
print(score_rf2)

0.918374061955554

In [76]:
print(score_rf, score_xgb1)

0.907480928139073 0.9218393745960957

In [77]:
y_pred_rf_tr = rf.predict_proba(X_tr)[:, 1]
score_rf_tr = roc_auc_score(y_tr, y_pred_rf_tr)

y_pred_rf2_tr = rf2.predict_proba(X_tr)[:, 1]
score_rf2_tr = roc_auc_score(y_tr, y_pred_rf2_tr)

y_pred_xgb1_tr = xgb1.predict_proba(X_tr)[:, 1]
score_xgb1_tr = roc_auc_score(y_tr, y_pred_xgb1_tr)

In [79]:
print('처음 랜덤포레스트 모델')
print(score_rf_tr, ' / ', score_rf)
print('튜닝 랜덤포레스트 모델')
print(score_rf2_tr, ' / ', score_rf2)
print('처음 xgboost 모델')
print(score_xgb1_tr, ' / ', score_xgb1)

처음 랜덤포레스트 모델
1.0  /  0.907480928139073
튜닝 랜덤포레스트 모델
0.9631695915425239  /  0.918374061955554
처음 xgboost 모델
0.923370848994855  /  0.9218393745960957

In [80]:
pred = rf2.predict_proba(X_test)[:, 1]
pred

array([1.96998403e-04, 3.38735417e-01, 4.42337547e-01, ...,
       7.14177610e-01, 2.69614520e-01, 7.22176071e-01])

In [82]:
 pd.DataFrame({'target': pred}).to_csv('1234567.csv', index=False)