# 4일차 과제 - 모의고사 

- 아래 문제를 읽고 알맞은 __단답형 정답__ 및 __코드__를 작성해서 제출해주세요.
- 제출 방법:6/8(수) 자정까지 정답을 작성한 .ipynb 파일을 yi.kyeongsuk@gmail.com으로 보내주세요. 
- 채점을 원할 경우 메일에 채점 원한다고 적어주세요 :^)

In [ ]:
# 이 파일을 google colab을 통해 연 후 셀을 실행시켜 주세요.
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 462, done.
remote: Counting objects: 100% (99/99), done.
remote: Compressing objects: 100% (56/56), done.
remote: Total 462 (delta 59), reused 43 (delta 43), pack-reused 363
Receiving objects: 100% (462/462), 8.40 MiB | 13.92 MiB/s, done.
Resolving deltas: 100% (244/244), done.

## <필답형>

####01. 다음은 무엇에 대한 설명인가? (3점)
- 정형, 비정형의 다양한 유형의 데이터를 저장, 관리하며 소스 데이터 형태를 그대로 저장한다.
- 분산 저장에프레임워크, 분산 저장 언어, 메타 관리 솔루션의 구축이 필요하다.
- 상대적으로 데이터 웨어하우스의 구축 비용보다는 비용이 저렴하다.

=> 정답: *여기에 작성*

####02. 데이터 변환 기법 중 데이터의 노이즈를 구간화, 군집화 등으로 다듬는 방법은? (3점)

=> 정답: *여기에 작성*

####03. 데이터에 정제 규칙을 적용하여 유의미한 최소 단위로 분할하는 작업으로 주민등록번호를 생년월일, 성별로 분할할 때 사용 가능한 정제 기법은? (3점)

=> 정답: *여기에 작성*

####04. 데이터 분포를 고려한 거리 측도로서 데이터 관측치가 평균으로부터 벗어난 정도를 측정하여 이상값을 검출하는 통계 기법은? (3점)

=> 정답: *여기에 작성*

####05. 변수 일부만을 모델링에 사용하고 그 결과를 확인하는 작업을 반복하면서 변수를 선택해 나가는 기법은? (3점)

=> 정답: *여기에 작성*

####06. 다음은 무엇에 대한 설명인가? (3점)
- 귀무가설이 참이라는 가정에 따라 주어진 표본 데이터를 희소 또는 극한값으로 얻을 확률값이다.
- 이 값이 작을수록 표본이 모수에 대하여 귀무가설을 기각할 증거를 충분히 제공한다고 볼 수 있다.

=> 정답: *여기에 작성*

####07. _______은 기업의 데이터베이스에서 상품의 구매, 서비스 등의 거래 또는 사건 간의 규칙을 발견하기 위해 적용하며, 장바구니 분석, 서열 분석이라고도 불린다. 빈 칸에 들어갈 알맞은 분석 방법은? (3점)

=> 정답: *여기에 작성*

####08. 다음 거래 내역을 보고 연관규칙 '빵->우유'의 향상도(Lift)를 구하시오. (3점)
- '우유'는 10개 팔렸다.
- '빵, 우유'는 10개 팔렸다.
- '과자, 콜라'는 10개 팔렸다.
- '빵, 과자, 우유'는 20개 팔렸다.

=> 정답: *여기에 작성*

####09. ________는 의사결정나무의 불순도를 나타내는 지표로, 데이터의 통계적 분산 정도를 정량화한 값이다. 이 값이 클수록 데이터의 분산 정도가 크다. 빈 칸에 들어갈 알맞은 말은?(3점)

=> 정답: *여기에 작성*

####10. ________는 한 데이터 내에서 같은 크기의 표본을 랜덤 복원 추출하는 샘플링 기법으로, 배깅(bagging)이 이 기법을 활용한 앙상블 분석 방법이다. 빈 칸에 들어갈 알맞은 말은? (3점)

=> 정답: *여기에 작성*

## <작업형 제 1유형>

In [ ]:
# 이 셀은 데이터를 불러오기 위한 셀이니 변경 없이 그대로 실행해주세요!!
import pandas as pd

df = pd.read_csv("./yemoonsaBigdata/datasets/Part2/mpg_X_train.csv")
df.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,pontiac j2000 se hatchback,31.0,4,112.0,85.0,2575,16.2,82
1,pontiac safari (sw),13.0,8,400.0,175.0,5140,12.0,71
2,mazda glc custom l,37.0,4,91.0,68.0,2025,18.2,82
3,oldsmobile vista cruiser,12.0,8,350.0,180.0,4499,12.5,73
4,peugeot 504,19.0,4,120.0,88.0,3270,21.9,76

####01. 변수 cylinders 값 별로 해당하는 데이터 행 수를 구한다. 이 때 세 번째로 많이 존재하는 cylinders 변수 값과 그에 해당하는 데이터 행 수를 더한 값은? (10점)

In [ ]:
answer = None

######### 여기에 코드를 작성해 주세요. #########



################################################

print('정답: ', answer)

정답:  None

####02. 변수 cylinders 값이 4일 때의 변수 weight의 제 1사분위수와 변수 cylinders 값이 8일 때의 변수 weight의 제 3사분위수의 평균값은? (10점)

In [ ]:
answer = None

######### 여기에 코드를 작성해 주세요. #########



################################################

print('정답: ', answer)

정답:  None

####03. 변수 name에 'toyota'가 포함되는 데이터의 horsepower 최대값과 변수 name에 'honda'가 포함되는 데이터의 horsepower 최대값을 더한 값은? (10점)

In [ ]:
answer = None

######### 여기에 코드를 작성해 주세요. #########



################################################

print('정답: ', answer)

정답:  None

##<작업형 제 2유형>

### 문제 (40점) * Ch5 마무리문제
아래는 Stellar Classification 데이터 세트를 변형시킨 데이터이다.   

1) 제공 데이터 목록    
*   stellar_y_train.csv : 은하 여부 데이터(학습용), csv 형식의 파일
*   stellar_X_train.csv, stellar_X_test.csv : 천체 관측 특성(학습 및 평가용), csv 형식의 파일

2) 주어진 학습용 데이터 (stellar_X_train.csv, stellar_y_train.csv)를 활용하여 해당 천체가 은하인지 아닌지를 예측하는 모형을 만든 후, 이를 평가용 데이터(stellar_X_test.csv)에 적용하여 얻는 천체의 은하 여부에 대한 예측확률(은하인 경우를 1로 한다.)을 다음과 같은 형식의 csv 파일로 생성하시오. (제출한 모델의 성능은 ROC-AUC 평가 지표에 따라 채점).

|galaxy|
|---|
|0.2222|
|0|
|0.801|
|0.9997|
|0|
|...|

3) 유의사항
- 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, feature engineering, 분류 알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다. 
- 이름.csv (예: 홍길동.csv) 파일이 만들어지도록 코드를 제출한다.
- 제출한 모델의 성능은 ROC-AUC 평가 지표에 따라 채점한다.

In [ ]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_y_train.csv")


######### 여기에 코드를 작성해 주세요. #########



################################################


# 답안 제출 참고
# 아래 코드 예측변수와 이름을 개인별로 변경하여 활용
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('홍길동.csv', index=False)